@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.breadcrumb {
    display: flex;
    list-style: none; /* Убираем маркеры списка */
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background: linear-gradient(#e3ecec, #3c8282); /* Цвет фона для хлебных крошек */

}

.breadcrumb li {
    margin-right: 10px; /* Отступ между элементами */
}

.breadcrumb li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000000; /* Цвет ссылки */
}

.breadcrumb li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.breadcrumb li::after {
    content: ')'; /* Разделитель */
    margin-left: 10px; /* Отступ перед разделителем */
    color: #000000;
    top: 0;
    font-size: 22;
    line-height: 1;
}

.breadcrumb li:last-child::after {
    content: ''; /* Убираем разделитель после последнего элемента */
}