@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.breadcrumb {
    display: flex;
    list-style: none; /* Убираем маркеры списка */
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background: linear-gradient(#e3ecec, #3c8282); /* Цвет фона для хлебных крошек */
}

.breadcrumb li {
    margin-right: 40px; /* Отступ между элементами */
    position: relative; /* Для позиционирования псевдоэлементов */
}

.breadcrumb li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000000; /* Цвет ссылки */
}

.breadcrumb li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.breadcrumb li::before {
    content: ''; /* Пустое содержимое для псевдоэлемента */
    position: absolute;
    left: 40px; /* Позиция слева от элемента */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Корректируем для центрирования */
    width: 20px; /* Ширина полукруга */
    height: 40px; /* Высота полукруга */
    background-color: transparent; /* Прозрачный фон */
    border-right: 2px solid #ffffff; /* Белый ободок */
    border-radius: 0px 20px 20px 0px; /* Скругление для создания полукруга */
}

.breadcrumb li::after {
    content: ''; /* Пустое содержимое для псевдоэлемента */
    position: absolute;
    right: -23px; /* Позиция справа от элемента */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Корректируем для центрирования */
    width: 20px; /* Ширина полукруга */
    height: 40px; /* Высота полукруга */
    background-color: #000000; /* Цвет полукруга */
    border-radius: 0px 20px 20px 0; /* Скругление для создания полукруга */
    background-color: transparent;
    border-right: 2px solid #000000;
    border-radius: 0px 20px 20px 0px;
}

.breadcrumb li:last-child::after {
    content: ''; /* Убираем разделитель после последнего элемента */
}